/* You can add custom CSS and extend Boostrap styles in this file. Remember, Bootstrap is just CSS at the end of the day! */
body {background-color: #a3b18a;}
.navbar-nav{
  margin-left: auto;
}

#id {
 height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 5px solid #9b870c;
  text-align: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#hero-section{
  width: 100%;
  height: 600px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.pinimg.com%2Foriginals%2Fca%2F22%2F96%2Fca2296ceca46f835bb62f1aae8a99cf8.gif&f=1&nofb=1&ipt=448d2f5380369db60d7461dc4ca3a3db105771c2344489b9dd13c7b0dcf67785&ipo=images);
  background-position: bottom ;
  background-size: cover;
  background-attachment: fixed;
}
#footer-section {
    left: 0;
    bottom: 0;
    width: 100%;
    color: whitesmoke;
    text-align: center;
  }

.hero-text{
text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #4c956c;
    text-shadow: 3px 3px black;
}
h1{
  font-family: "Rubik Bubbles", system-ui;
  font-weight: 400;
  font-style: normal;
}
#skills-section{
  font-size: 100px;
}
p{
  font-size: 20px;
}
ul li {
list-style: none;
margin: 0 15px;
}
ul li a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #588157;
  transition: .5s;
  transform: scale(.9);
  z-index: -1;
}

ul li a:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #588157;
}
ul li a:hover {
  color: #588157;
  text-shadow: 0 0 5px #588157;
}
a{
  color: #262626;
}
h1{
  text-align: center;
}

#poo{
  border-radius: 10%;}

@media (max-width: 767px) {
  .carousel-inner .carousel-item > div {
    display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {

  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }

  .carousel-inner .carousel-item-start.active, 
  .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
  }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
  transform: translateX(0);
}
.carousel-inner{
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}
.card:Hover{
  transform: scale(1.3);
  z-index: 1;
}

